*{
    margin:0px;
    padding:0px;
}
body{
    background-color:#d6d6d6;
    font-family: "Roboto", sans-serif;
    font-weight:450;
}
h2{
    font-size: 2em;
}
h3{
    font-family: "Secular One", sans-serif;
    font-size:1.5em;
}
.cleaner{
    clear:both;
}
#header{
    background-color:#000000;
    height:125px;
    display:flex;
    justify-content:space-between;
    padding:0px 150px;
}
#logo img{
    height:125px;
}
#header ul{
    list-style-type:none;
    margin:auto 0px;
}
#header ul li{
    display:inline;
    margin:0px 10px;
}
#header ul li a{
    text-decoration:none;
    color:#ffffff;
    transition:color 0.5s ease;
}
#header ul li a:hover{
    color:#a3a3a3;
}
.aktivan{
    background-color: #cc3d3d;
    color:#ffffff;
    padding:12px;
    border-radius:20px;
}
#prvi{
    padding:0px 150px;
    background-image:url("../img/background2.jpg");
    background-repeat:no-repeat;
    background-position:0% 37%;
    background-size:2000px 1125px;
    height:610px;
}
#prvi h1{
    font-size:48px;
    max-width:650px;
    padding-top:80px;
}
#prvi p{
    max-width:580px;
    margin:16px 0px;
}
#button{
    font-family: "Secular One", sans-serif;
    background-color:#cc3d3d;
    color:#ffffff;
    padding:25px;
    margin-top:30px;
    display:block;
    width:max-content;
    text-decoration:none;
    border-radius:20px;
    transition: transform 0.5s ease;
}
#button:hover{
    background-color:#ca4a4a;
    transform:scale(1.1);
}
#sekcija2{
    padding:20px 150px;
    margin-top:80px;
}
.podnaslov{
    text-align:center;
}
#drugi{
   padding:30px 0px;
   display:flex;
   justify-content:space-between;
}
.kontejner1{
    width:270px;
    background-color:#ffffff;
    border-radius:20px;
    padding:0px 10px;
}
.kontejner1 h3{
    color:#2380b1;
    margin:10px 0px;
}
.kontejner1 p{
    margin:10px 0px;
}
#sekcija3{
    padding:10px 150px;
    margin-bottom:80px;
}
.kontejner2{
    width:700px;
    height:fit-content;
    border-radius:20px;
    background-color:#ffffff;
    margin-top:20px;
    padding:5px 10px;
}
.kontejner2 h3{
    margin:10px px;
}
.kontejner2 p{
    margin:10px 0px;
}
#region1 {
    float:left;
}
#region2{
    float:right;
}
#region2 img{
    width:370px;
    height:355px;
    border-radius:20px;
    object-fit:cover;
    margin-top:20px;
}
#footer{
    background-color:#000000;
    padding:30px 150px;
    height:250px;
    display:flex;
    justify-content: space-between;
}
#logoFooter img{
    width:250px;
    max-height:100%;
    object-fit: cover;
    object-position:30% 30%;
}
#kontakt{
    color:#ffffff;
    margin:auto 0px;
}
#meniFooter{
    margin:auto 0px;
}
#meniFooter ul{
    list-style-type:none;
}
#meniFooter ul li a{    
    text-decoration: none;
    color:#ffffff;
}
#lista{
    margin:auto 0px;
}
#lista ul {
    list-style-type: none;
}
#lista ul li{
    display:inline;
}
.ikonice{
    color:#ffffff;
    font-size:24px;
}
#naslov{
    font-family: "Secular One", sans-serif;
    text-align:center;
    font-size:40px;
    margin:10px 0px;
}
.podnaslov{
    margin-top:80px;
}
.crvena{
    color:#cc3d3d
}
#region3{
    display:flex;
    padding:0px 150px;
    justify-content:space-between;
    margin:80px 0px;
}
.kontejner3 img{
    border-radius: 10px;
    height:330px;
    width:350px;
    object-fit: cover;
}
.kontejner3 {
    max-width:350px;
    background-color:#ffffff;
    padding:10px;
    border-radius: 10px;
}
.kontejner3 p{
    margin:10px 0px;
}
.datumR{
    float:left;
}
.cena{
    float:right;
}
.tekst2{
    font-size:20px;
    font-weight:bold;
}
#forma{
    padding:0px 150px;
    margin:65px 0px;
    float:left;
}
#forma input,button,textarea{
    display:block;
    font-size:16px;
    padding:12px;
    margin:5px 0px;

}
#forma input,textarea{
    width:500px;
    border-radius:10px;
    border:0px;
}
#forma input[type=submit]{
    background-color: #cc3d3d; 
    border-radius: 10px;
    color:#ffffff;
    width:200px;
    margin:20px 0px;
    transition:transform 0.5s ease;   
}
#forma input[type=submit]:hover{
    background-color:#ca4a4a;
    transform: scale(1.1);
}
label{
    font-size:20px;
}
#mapa{
    float:right;
    width:500px;
    height:335px;
    margin-right:150px;
    margin-top:65px;
    border:0px;
    border-radius:20px;
}
#naslov1{
     text-align:center;
     margin:30px 0px;
}
#kontejner4{
    padding:0px 150px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom:50px;
}
#kontejner4 img{
    width:400px;
    height:500px;
    object-fit: cover;
    object-position:20% 20%;
    border-radius: 20px;
}
#podkontejner4 {
    max-width: 600px;
}
#podkontejner4 p,h2{
    margin:20px 0px;
}



