*{
    margin:0px;
    padding:0px;
}
body{
     background-color:#d6d6d6;
}
.cleaner{
    clear:both;
}
#header{
    background-color:#000000;
    height:125px;
    display:flex;
    justify-content:space-between;
    padding:0px 150px;
}
#logo img{
    height:125px;
}
#header ul{
    list-style-type:none;
    margin:auto 0px;
}
#header ul li{
    display:inline;
    margin:0px 10px;
}
#header ul li a{
    text-decoration:none;
    color:#ffffff;
    font-family: "Roboto", sans-serif;
}
#prvi{
    padding:0px 150px;
    background-image:url("../img/background2.jpg");
    background-repeat:no-repeat;
    background-position:0% 37%;
    background-size:2000px 1125px;
    height:610px;
}
#prvi h1{
    font-family: "Roboto", sans-serif;
    font-size:48px;
    max-width:650px;
    padding-top:80px;
}
#prvi p{
    font-family: "Roboto", sans-serif;
    font-size:20px;
    max-width:580px;
    margin:16px 0px;
}
#button{
    font-family: "Secular One", sans-serif;
    background-color:#cc3d3d;
    color:#ffffff;
    padding:25px;
    margin-top:30px;
    display:block;
    width:max-content;
    text-decoration:none;
    border-radius:20px;
}
#sekcija2{
    padding:20px 150px;
}
.podnaslov{
    font-family: "Roboto", sans-serif;
    text-align:center;
    font-size:28px;
}
#drugi{
   padding:30px 0px;
   display:flex;
   justify-content:space-between;
}
.kontejner1{
    width:270px;
    background-color:#ffffff;
    border-radius:20px;
    padding:10px;
}
.kontejner1 h3{
    font-family: "Secular One", sans-serif;
    color:#2380b1
}
.kontejner1 p{
    font-family: "Secular One", sans-serif;
}
#sekcija3{

    padding:10px 150px;
}
#sekcija3 h2{
    font-family: "Roboto", sans-serif;
}
.kontejner2{
    width:700px;
    border-radius:20px;
    background-color:#ffffff;
    margin-top:20px;
    padding:10px;
}
.kontejner2 h3{
    font-family: "Secular One", sans-serif;
}
.kontejner2 p{
    font-family: "Secular One", sans-serif;
}
#region1 {
    float:left;
}
#region2{
    float:right;
}
#region2 img{
    width:370px;
    border-radius:20px;
}
#footer{
    background-color:#000000;
    padding:30px 150px;
    height:250px;
    display:flex;
    justify-content: space-between;

}
#logoFooter img{
    width:250px;
}
#kontakt{
    font-family: "Roboto", sans-serif;
    color:#ffffff;
    margin:auto 0px;
}
#meniFooter{
    margin:auto 0px;
}
#meniFooter ul{
    list-style-type:none;
}
#meniFooter ul li a{    
    text-decoration: none;
    color:#ffffff;
    font-family: "Roboto", sans-serif;
}
#lista{
    margin:auto 0px;
}
#lista ul {
    list-style-type: none;
}
#lista ul li{
    display:inline;
}
.ikonice{
    color:#ffffff;
    font-size:24px;
}
#naslov{
    font-family: "Secular One", sans-serif;
    text-align:center;
    font-size:40px;
    margin:10px 0px;
}
.crvena{
    color:#cc3d3d
}
#region3{
    display:flex;
    padding:0px 150px;
    justify-content:space-between;
}
.kontejner3 img{
    border-radius: 10px;
    height:330px;
    width:350px;
    object-fit: cover;
}
.kontejner3 {
    max-width:350px;
    font-family: "Roboto", sans-serif;
    background-color:#ffffff;
    padding:10px;
    border-radius: 10px;
}
.kontejner3 p{
    margin:10px 0px;
}
.datumR{
    float:left;
}
.cena{
    float:right;
}
.tekst2{
    font-size:20px;
    font-weight:bold;
}


