*{
    margin:0px;
    padding:0px;
}
#header{
    background-color:#000000;
    height:125px;
    display:flex;
    justify-content:space-between;
    padding:0px 150px;
}
#logo img{
    height:125px;
}
#header ul{
    list-style-type:none;
    margin:auto 0px;
}
#header ul li{
    display:inline;
    margin:0px 10px;
}
#header ul li a{
    text-decoration:none;
    color:#ffffff;
    font-family: "Roboto", sans-serif;
}
#prvi{
    padding:0px 150px;
    background-image:url("../img/background2.jpg");
    background-repeat:no-repeat;
    background-position:0% 37%;
    background-size:2000px 1125px;
    height:600px;
}
#prvi h1{
    font-family: "Roboto", sans-serif;
    font-size:48px;
    max-width:650px;
    padding-top:80px;
}
#prvi p{
    font-family: "Roboto", sans-serif;
    font-size:20px;
    max-width:580px;
    margin:16px 0px;
}
#button{
    font-family: "Rammetto One", sans-serif;
    background-color:#ff0000;
    color:#ffffff;
    padding:30px;
    margin-top:30px;
    display:block;
    width:max-content;
    text-decoration:none;
}